h1 {

}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 50px 30px 50px 80px;
    background-color:#C6E2FF
}

img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

.first {
    color:darkred;
}

#second {
    font-family:cursive;
}